body {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  text-align: center;
}
hr {
  border: lightgray solid 0.5px;
}
a {
  color: blue;
  text-decoration: none;
  font-size: 15px;
}
button {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 15px;
  cursor: pointer;
}
div {
  padding: 5px 0px;
}
img {
  width: 15px;
}
.wrapper {
  border: 1px solid black;
  height: 100%;
  width: 300px;
}
.header {
  color: gray;
}
tr:nth-child(even) {
  background-color: lightgray;
}
td {
  width: 300px;
}
.sidenav {
  display: block;
  text-align: left;
}
.search {
  text-align: right;
  margin-top: 8px;
}
.search input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: black solid 0.5px;
  border-radius: 5px 0px 0px 5px;
}
.search button {
  float: right;
  padding: 8.5px;
  margin-right: 16px;
  border-top: black solid 0.5px;
  border-bottom: black solid 0.5px;
  border-right: black solid 0.5px;
  border-radius: 0px 5px 5px 0px;
 
}
.search form {
  display: inline-block;
}
.search img {
  vertical-align: middle; /* Align the image vertically in the middle */
  /* margin-left: 5px; Add some space between the input and image */
}

.dropdownContainer {
  margin-left: 25px;
}
.overallMana {
  display: inline-block;
}
